.cover{
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 48px 92px;
    background-position: center;
}
@media screen and (max-width: 1024px) {
    .cover{
        margin: 0 0 92px;
    }
 }
 @media screen and (max-width: 768px) {
    .cover{
        margin: 0 48px 88px;
    }
 }
 @media screen and (max-width: 600px) {
     .cover{
        margin: 0 0 64px;
     } 
  }
  